<h2><%= location.name %></h2>
<a href="/locations/<%= location.id %>/edit">Edit</a>
<%- include("../partials/deleteForm", { url: `/locations/${location.id}` }) %> 
<% if (runsInLocation.length > 0) { %>
    <h2>Runs in <%= location.name %></h2>
    <% runsInLocation.forEach(run => { %>
        <img height="150" width="150" src="<%= run.coverImagePath %>">
    <% }) %>
<% } %> 
